@import "../resource.scss";

.conversation{
    margin: 3em 0;
    width: inherit;
    padding: 0 .5em;
}

.question{
    background-color: rgb(241, 241, 252);
    filter: drop-shadow(5px 5px 10px $shadow-gray);
    // box-shadow: 5px 5px 10px $shadow-gray;
    padding: 1em 1.2em;
    border-radius: 1.5em;
    min-width: 10em;
    max-width: 70%;
    white-space: normal;
    box-sizing: border-box;
    border: 1.5px solid rgb(198, 198, 221);
    &.input{
        width: 30em;
        max-width: 100%;
        input{
            padding: none;
            margin: none;
            font-size: 1em;
            max-width: 100%;
            background-color: transparent;
            white-space: normal;
        }
    }
}

.answer{
    background-color: white;
    // box-shadow: 5px 5px 10px $shadow-gray;
    filter: drop-shadow(5px 5px 10px $shadow-gray);
    padding: 1em 1.2em;
    border-radius: 1.5em;
    width: 100%;
    max-width: 100%;
    margin-top: .5em;
    box-sizing:border-box;
    // white-space: pre-wrap;
    z-index: 10;
    border: 1.5px solid lightgray;
    div{
        white-space: pre-wrap;
    }
    textarea{
        font-size: 1em;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        resize: vertical;
        &:focus{
            outline: none;
        }
    }
}

.counter{
    width: 100%;
    text-align: right;
    font-size: .8em;
    font-family: $font-2;
    // color: rgb(80, 80, 133);
    color: crimson;
    margin-top: .5em;
}